@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.carta {
    position: relative;
    background-color: aqua;
    border: 5px solid blue;
    width: 200px;
    height: 300px;
    left: 50%;
    margin: 20px;
}

.local {
    position: relative;
    display: flex;
    background-color: bisque;
    border: 5px solid coral;
    width: 100%;
    height: 500px;
    margin: 50px;
}

.mesa {
    position: relative;
    height: 500px;
}